#sections-quem-somos {
  padding-top: 80px;

  .container {
    .row {
      h2 {
        font-size: 22px;
        font-weight: 700;
        margin-left: -15px;
        text-transform: inherit;
        color: $corPrimaria;
      }

      p {
        font-size: 16px;
        font-weight: 100;
      }

      .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;

        .owl-prev {
          left: 60px;
          position: absolute;
          opacity: .5;
          transition: $transicaoPadrao;

          &:hover {
            background: transparent !important;
            opacity: 1;
          }
        }

        .owl-next {
          right: 60px;
          position: absolute;
          opacity: .5;
          transition: $transicaoPadrao;

          &:hover {
            background: transparent !important;
            opacity: 1;
          }
        }
      }
    }
  }
}