#banner {

  .container {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);

    h2 {
      text-shadow: 1px 1px 3px #000;
      margin-left: 20px;
      line-height: 3.5rem;
      font-size: 2.5em;
      font-weight: 600;

      @media (max-width:767px){
        font-size: 1rem;
      }
    }

    .choose-wrapper {
      background-color: $corBranca;
      max-width: 440px;
      display: inline-block;
      padding: 15px 30px;
      height: auto;
      border-radius: 3px;
      overflow: hidden;
      left: auto;
      right: auto;
      position: relative;
      top: -90px;
      bottom: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      min-height: 350px;

      h3 {
        font-size: 17px;
        font-weight: 700;
      }

      .button-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 13px;

        .btn-choose {
          border: solid 1px $corSecundaria;
          color: $corSecundaria;
          padding: 8px 16px;

          &.active {
            background-color: $corSecundaria;
            color: $corBranca;
          }

          &:first-child {
            margin-right: 10px;
          }

          &:last-child {
            margin-left: 10px;
          }
        }
      }

      .contentchoose {
        margin-top: 18px;

        div {
          &.active {
            display: block;
          }
        }

        .wpcf7-form-control {
          font-size: 14px;
          border: solid 1px #999;
          border-radius: 0;
          padding: 5px 13px;
          color: #414042;
          font-weight: 300;
          margin-bottom: 8px;
        }

        .wpcf7-form-control.error {
          color: #c62828 !important;
          border-color: #c62828 !important;
        }

        .wpcf7-form-control.error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: #c62828 !important;
        }

        .wpcf7-form-control.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: #c62828 !important;
          opacity: 1;
        }

        .wpcf7-form-control.error::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: #c62828 !important;
          opacity: 1;
        }

        .wpcf7-form-control.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #c62828 !important;
        }

        .wpcf7-form-control.error::-ms-input-placeholder { /* Microsoft Edge */
          color: #c62828 !important;
        }

        .wpcf7-form-control.error::placeholder { /* Most modern browsers support this now. */
          color: #c62828 !important;
        }

        #origemprecatorio-error, #tribunal-error {
          display: none !important;
        }

        label.error {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      div[class*="content-"] {
        display: none;
      }
    }

    .wpcf7 {
      input, select, optgroup, textarea {
        font-family: inherit;
        width: 100%;
      }
    }
  }
}



