#passos {
  padding: 60px 0;

  .container {
    .row {
      h2 {
        text-transform: inherit;
        color: $corPrimaria;
        margin-bottom: 20px;
        font-size: 1.1rem;
      }

      .col-md {
        .numero-passo {
          font-size: 2.5rem;
          font-weight: 700;
          color: $corSecundaria;
          margin-bottom: 20px;
        }

        h3 {
          line-height: 1.6rem;
          font-size: .9rem;
          font-weight: 700;
          min-height: 50px;
          padding: 0 28px;
        }

        img {
          width: auto;
          margin-top: 25px;
        }

        &:after {
          content: '';
          border-top: 2px solid $corPrimaria;
          border-right: 2px solid $corPrimaria;
          width: 40px;
          height: 40px;
          top: 50%;
          right: -7px;
          position: absolute;
          transform: translate(0, -50%) rotate(45deg);
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}