#porque-a-precato {
  padding: 80px 0 30px 0;
  background-color: $corSecundaria;

  .container {
    .row {
      h2 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0.175em;
        text-transform: uppercase;
      }

      .conteudo-numeros {
        .item-numero {
          .count {
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: -0.01em;
            border: solid 2px #fff;
            border-radius: 50%;
            width: 112px;
            height: 112px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 18px;
            color: $corBranca;
          }
        }

        .descricao-numero {
          font-weight: 700;
          line-height: 1.5rem;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          padding: 0 100px;
        }
      }
    }
  }
}