footer {
  background: $corPrimaria;
  position: relative;
  padding: 65px 0 53px 0;
  margin-top: 80px;

  h3 {
    font-size: 1.2rem !important;
    font-family: $axiformaMedium !important;
    color: $corPrimaria !important;
  }


  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    a {
      padding: 28px 38px 28px 0;
      border-right: solid 1px #fff;

      img {
        width: auto;
        height: auto;
        object-fit: unset;
      }
    }
  }


  .nav-link {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: $corBranca;
    letter-spacing: 0.017em;
    transition: $transicaoPadrao;

    &:hover {
      opacity: .5;
      color: $corBranca;
    }
  }

  .enderecos {
    padding-top: 35px;

    a {
      p {
        font-weight: 700;
        font-size: 1rem;
        margin-top: 3px;
        transition: $transicaoPadrao;
      }
      &:hover{
        p{
          opacity: .5;
          color: $corBranca;
        }
      }
    }

    p {
      font-size: .8rem;
      line-height: 1.1rem;
      position: relative;
      color: #fff;
      margin-bottom: 7px;
    }

    &:before {
      content: url(../../assets/img/icone_endereco.png);
      position: absolute;
      top: 16px;
      left: -8px;
    }
  }
}