section {
  &#blog {
    margin-top: 100px;

    img {
      height: auto;
    }

    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 20px;
      margin-top: 10px;
    }

    h3 {
      color: #010101;
      font-size: 18px;
      margin-top: 10px;
    }

    p {
      color: #3d3d3d;
    }

    .img-post-principal {
      img {
        border-radius: 10px;
        margin: 15px auto;
      }
    }

    .conteudo-blog {

      .link-imagem-post {
        figure {
          img {
            border-radius: 10px;
            height: auto;
            transition: all .3s ease-in-out;
          }
        }

        &:hover {
          figure {
            img {
              filter: brightness(0.6);
            }
          }
        }
      }

      .link-titulo-post {
        h2 {
          font-size: 18px;
          color: $corPreta;
          transition: all .3s ease-in-out;
          line-height: 22px;
        }

        &:hover {
          text-decoration: none;

          h2 {
            color: $corPrimaria;
          }
        }
      }

      p {
        color: #3d3d3d;
        line-height: 24px;
      }

      .btn {
        padding: 10px 40px;
      }
    }

    .pagination {
      li {
        a {
          font-family: $regular;
          color: #000;
          border: none;
          padding: 11px !important;
          border-radius: 26px;
          width: 32px;
          height: 32px;
          line-height: 10px;
          margin: 0 2px;

          &:hover {
            color: $corBranca;
          }
        }

        span {
          &.current {
            border: none;
            padding: 11px !important;
            border-radius: 26px;
            width: 32px;
            height: 32px;
            line-height: 10px;
            color: #fff;
          }
        }
      }
    }

    .sidebar-blog {
      > {
        div {
          background: #e1e1e1;
          padding: 10px;
          margin-bottom: 35px;
          border-radius: 7px;

          .rounded {
            font-size: 27px;
            text-align: center;
            margin-bottom: 20px;
          }

          #searchform {
            #pesquisa {
              border-radius: 20px;
              width: 100%;
              border: none;
            }

            button {
              position: absolute;
              width: 32px;
              border: none;
              background: none;
              right: 0;
              top: 6px;
              z-index: 99999;
            }
          }

          .widget-mais-lidos {
            a {
              text-decoration: none;

              .title-mais-lidos {
                font-size: 14px;
                color: #000;
              }

              &:hover {
                .title-mais-lidos {
                  color: $corPrimaria;
                }
              }
            }
          }
        }
      }
    }

    .compartilhar-post {
      list-style: none;
      display: flex;
      padding: 0;
      margin-top: 15px;

      li {
        margin-right: 10px;
        line-height: 0;

        &.facebook {
          a {
            background: #3b5998;
          }
        }

        &.whatsapp {
          a {
            background: #25d366;
          }

        }

        &.email {
          a {
            background: #ea4335;
          }

        }

        &.twitter {
          a {
            background: #1da1f2;
          }

        }

        &.linkedin {
          a {
            background: #0077b5;
          }

        }

        a {
          transition: all .3s ease-in-out;
          line-height: 0;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover{
            background: #3b3b3b;
          }

          svg{
            font-size: 20px;color: #fff;
          }
        }
      }
    }


  }

  & + .container {
    & + {
      #rodape-posts {
        .cta-blog-widget {
          padding: 30px;

          .btn-amarelo {
            img {
              position: absolute;
              width: 40px;
              bottom: 40px;
              right: 25px;
            }
          }
        }

        .posts-relacionados {
          .link-titulo-recents-post {
            h2 {
              font-size: 18px;
              color: #000;
            }

            &:hover {
              text-decoration: none;

              h2 {
                color: $corPrimaria;
              }
            }
          }

          .btn {
            padding: 10px 40px;
          }
        }
      }
    }
  }
}

.cta-blog-widget {
  background: $corPrimaria !important;

  h4 {
    color: #fff;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
  }

  .btn-amarelo {
    font-weight: 500;
    background: #ffba00;
    color: $corPrimaria;
    font-size: 22px;
    line-height: 24px;

    &:hover {
      background: transparent;
      color: $corBranca;
    }

    img {
      position: absolute;
      width: 40px;
      bottom: 18px;
      right: 6px;
    }
  }

  .bg-btn-cta {
    background: #fff;
    display: block;
    width: 60%;
    margin: 20px auto;
    border-radius: 50%;
    padding: 10px;
  }
}


