#chamada-quem-somos {
  padding: 55px 0;

  .container {
    .row {
      display: flex;
      align-items: center;

      img {
        width: auto;
        position: relative;
        right: -50px;
        top: -15px;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

#chamada-2 {
  .container {
    .row {
      .col-12 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 37px;
          letter-spacing: 0.175em;
        }
      }
    }
  }
}

#chamada-3 {
  padding: 85px 0;

  .container {
    .row {
      .col-md-7{
        p{
          font-size: 1.1rem;
          padding-left: 50px;
          margin-bottom: 0;
          line-height: 1.8rem;
        }
      }
      .col-md-5 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

#chamada-4 {
  .container {
    .row {
      .col-12 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 37px;
          letter-spacing: 0.175em;
        }
      }
    }
  }
}
