#depoimentos {
  background-color: $cinzaClaro;
  padding: 50px 0;
  margin-top: 60px;

  .container {
    .row {
      h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 37px;
        text-transform: uppercase;
      }

      .depoimentos-carousel {
        .item {
          margin-left: 156px;
          margin-right: 60px;

          .img-depomentos {
            width: 106px;
            margin-bottom: 20px;
          }

          p {
            position: relative;
            color: $corPrimaria;

            &:before {
              content: url("../../assets/img/aspa.png");
              position: absolute;
              top: -20px;
              left: -56px;
            }
          }
          h3{
            font-size: 12px;
            font-weight: 600;
            color: $corPrimaria;
          }
        }

        .owl-dots {
          margin-top: 20px;

          .owl-dot {
            span {
              width: 14px;
              height: 14px;
              background-color: #dadada;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background-color: #606062;
              }
            }
          }
        }

      }
    }
  }
}