#page-title {
  background: $corPrimaria;
  min-height: 312px;
  position: relative;
  overflow: hidden;

  .container {
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-page-title {
      position: absolute;
      width: auto;
      bottom: 0;
      left: 25%;
    }

    h1 {
      font-size: 1.4rem;
      font-weight: 700;
    }

    h2 {
      font-weight: 300;
      line-height: 1.6rem;
      text-transform: inherit;
    }

    #breadcrumbs {
      a {
        color: $corBranca !important;
        transition: $transicaoPadrao;
        &:hover {

            color: $corSecundaria !important;

        }

      }


      span {
        color: #fff;

        &.breadcrumb_last {
          color: $corSecundaria !important;
        }
      }
    }
  }
}