.login{
    /*background: url(https://www.netlinks.com.br/wp-content/uploads/2019/05/criacao-sites-1.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
}


.login h1 a {
    /*background-image: url(https://i0.wp.com/www.netlinks.com.br/wp-content/uploads/2019/12/criacao-sites.png) !important;*/
    width: 100%;
    background-size: 180px;
}


#login{
    max-width: 420px !important;
    width: 100% !important;
}

#login label {
    color: #fff;
    font-weight: 500;
}
.wp-core-ui .button-primary{
    background: #000;
    border-color: #000;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;
}
.wp-core-ui .button-primary:hover{
    background: #EC7E00;
    border-color: #EC7E00;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}


#loginform{
    background: transparent;  
    border: none;
    padding: 60px !important;
}


#nav, #backtoblog{
    text-align: center;
}
#nav a, #backtoblog a{
    color: #fff !important;
    transition: all 0.6s ease 0s;
}