#faq {
  background-color: #f0f8fc;
  padding-top: 61px;
  padding-bottom: 36px;

  .container {
    .row {
      h2{
        font-weight: 400;
        text-transform: inherit;
        margin-bottom: 20px;
        color: $corPrimaria;
      }

      .card {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border: none;
        border-radius: 0;
        background: transparent;
        border-bottom: solid 1px #d6e5f0 !important;

        .card-header {
          border: none;
          background: transparent;

          h5 {

            button {
              padding-left: 0;
              font-weight: 600;
              color: $corPrimaria;

              .icon-wrapper {
                svg {
                  color: $corPrimaria;
                }
              }

              &:focus {
                box-shadow: none;
                text-decoration: none;
              }

              &:hover {
                text-decoration: none;
              }
            }

          }
        }

        .card-body {
          color: $corPrimaria;
          font-weight: 100;

          img {
            width: auto;
          }
        }

        &:last-child {
          border: none !important;
        }
      }
    }
  }
}