.tres-colunas .acf-repeater tr.acf-row:not(.acf-clone) {
    display: inline-block !important;
    width: 32% !important;
    margin-right: 15px;
    border-left: 1px solid #dfdfdf;
}

.tres-colunas .acf-repeater tr.acf-row:not(.acf-clone) td.acf-fields {
    width: 100%;
}

#wpadminbar a img {
    max-width: 90px !important;
    margin-top: 5px;
}

#wpadminbar .ab-icon, #wpadminbar .ab-item::before, #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
    display: block !important;
}