.default-btn {
  background-color: $corPrimaria;
  color: $corBranca !important;
  border-width: 2px !important;
  border-color: $corPrimaria !important;
  width: auto !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  transition: $transicaoPadrao;
  letter-spacing: 0.13em;
  font-weight: 700 !important;
  text-transform: uppercase;

  &:hover {
    background-color: $corBranca;
    color: $corPrimaria !important;
  }
}

.default-btn-bordered {
  background-color: $corBranca;
  color: $corPrimaria !important;
  border-width: 2px;
  border-style: solid;
  border-color: $corPrimaria;
  width: auto !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  transition: all .2s ease-in-out;
  letter-spacing: 0.13em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: $corPrimaria;
    color: $corBranca !important;
  }
}

.secondary-btn-bordered {
  background-color: $corBranca;
  color: $corSecundaria !important;
  border-width: 2px;
  border-style: solid;
  border-color: $corSecundaria;
  width: auto !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  transition: all .2s ease-in-out;
  letter-spacing: 0.13em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: $corSecundaria;
    color: $corBranca !important;
  }
}

.blog-btn {
  text-transform: uppercase;
  font-weight: 600;
  color: $corPrimaria;
  font-size: 0.9rem;
  transition: $transicaoPadrao;

  &:hover{
    color: $corSecundaria;
  }
}