// PADRÕES

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'variaveis';
@import 'botoes';
@import '../../components/components.scss';

html {
  overflow-x: hidden !important;


  body {
    overflow-x: hidden !important;
    font-size: 0.97em;
    color: $corGeral;
    font-weight: 400;
    font-family: $fontePadrao;
    padding-right: 0 !important;

    strong {
      color: $corPrimaria;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $fontePadrao;
      color: $corGeral;
    }

    h1 {
      font-size: 4.00em;
    }

    h2 {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.6rem;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    h4 {
      font-size: 1.75em;
    }

    h5 {
      font-size: 1em;
    }

    h6 {
      font-size: .75em;
    }

    blockquote {
      font-style: oblique;
    }

    p,
    span {
      font-family: $fontePadrao;
      font-size: 0.9rem;
      line-height: 25px;
      font-weight: 500;
      color: #323234;
    }

    a {
      &:hover {
        text-decoration: none !important;
      }
    }

    form {
      margin-block-end: 0;
      margin-bottom: 0;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    img {
      width: 100%;
      object-fit: contain;
      height: auto;
    }

    .duplicate {
      &:before {
        content: attr(title);
        display: block;
        font-weight: 700;
        top: 30px;
        position: relative;
        font-size: 110%;
        opacity: .1;
      }
    }

    #formularioContato {
      .captcode {
        background: #fff;
        display: flex;
        border-radius: 5px;
        height: 40px;

        img {
          width: 88px;
          margin: 0 auto;
          display: block;
        }

        .refresh-captcha {
          position: absolute;
          right: 46px;
          top: 9px;
        }

      }
    }

    #voltarTopo {
      background-color: $corPrimaria;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 4px;
      position: fixed;
      bottom: 18px;
      left: 18px;
      transition: background-color .3s, opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
      cursor: pointer;
      box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -webkit-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);
      -moz-box-shadow: 0px 6px 8px 2px rgba(0, 0, 0, .14);

      &:after {
        content: "\f062";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900 !important;
        font-size: 1.3rem;
        line-height: 45px;
        color: #fff;
      }

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }

    .botao-lateral-wrapper {
      position: fixed;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      z-index: 2;


      a {

        .img-btn-lateral {
          width: 60px;
          -webkit-filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.3));
          -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
          filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
          transition: $transicaoPadrao;
        }

        &:hover {
          .img-btn-lateral {
            -webkit-filter: drop-shadow(10px 10px 12px rgba(0, 0, 0, 0.4));
            -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";
            filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=9, OffY=9, Color='#444')";

          }
        }
      }

      .botao-lateral {
        a {
          display: block;
          background-color: $corPrimaria;
          color: white;
          padding: 3px 15px 3px 0px !important;
          margin-bottom: 5px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          text-align: center;
          font-size: 20px !important;
          width: 70px;
          transition: $transicaoPadrao;
          box-shadow: -1px 1px 2px rgb(0 0 0 / 0.2);

          &:hover {
            background-color: $corSecundaria;
          }

          svg {
            padding-top: 4px;
          }
        }
      }
    }

    #pagina {
      margin-top: 100px;

      p {
        color: #3d3d3d;
      }
    }

    #contato {
      .wrapper-contato {
        margin-bottom: 5px;

        svg {
          background: $corPrimaria;
          width: 28px !important;
          height: 28px;
          padding: 6px;
          border-radius: 50%;
          margin-right: 10px;
        }

        a, span {
          color: $corTerciaria;
          font-size: 18px !important;
          top: -6px;
          font-weight: 400;
          position: relative;
          transition: all .3s ease;
        }

        a {
          &:hover {
            color: $corPrimaria !important;
          }
        }

      }
    }

    a {
      &:hover {
        color: $corPrimaria;
      }
    }

    .captcode {
      background: $corBranca;
      display: flex;
      box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.12);
      border-radius: 50px;
      height: 50px !important;

      img {
        width: 88px;
        margin: 0 auto;
        display: block;
      }
    }

    .msgs-formulario {
      margin-top: 20px;

      .close {
        line-height: 0 !important;
        padding: 10px !important;
      }
    }

    .fw-regular {
      font-weight: $regular !important;
    }

    .fw-medium {
      font-weight: $medium !important;
    }

    .fw-semi-bold {
      font-weight: $semiBold !important;
    }

    .fw-bold {
      font-weight: $bold !important;
    }

    .fw-extra-bold {
      font-weight: $extraBold !important;
    }

    .fw-black {
      font-weight: $black !important;
    }

    .text-primario {
      color: $corPrimaria !important;
    }

    .text-secundario {
      color: $corSecundaria !important;
    }

    .bg-primario {
      background-color: $corPrimaria;
    }

    .bg-secundario {
      background-color: $corSecundaria;
    }

    .btn-skewed-sm {
      font-family: $axiformaBlackItalic;
      background: $corSecundaria;
      padding: 10px 15px 6px 15px;
      transform: skew(-30deg);
      display: inline-block;
      margin-top: 5px;
      transition: $transicaoPadrao;


      span {
        transform: skew(30deg);
        display: block;
        font-family: $axiformaBlackItalic;
        color: $corBranca;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: $transicaoPadrao;
      }

      &:hover {
        background: $corPrimaria !important;
        transform: skew(-15deg);

        span {
          transform: skew(15deg);
        }
      }
    }

    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: none !important;
    }

    #formulario-contato {
      .container {
        .row {
          h2 {
            padding: 65px 0 !important;
          }

          .form-contato {
            padding: 0 110px;
          }
        }
      }
    }

    #blog {
      padding: 35px 0;

      .content-post {
        .img-post-principal {
          h1 {
            font-size: 3.2rem;
            font-weight: 600;
            color: $corPrimaria;
          }

          img {
            border-radius: 16px;
            margin: 15px auto;
            display: block;
          }

          .post-data {
            font-size: 0.9rem;

            svg {
              font-size: 1rem;
              color: $corSecundaria;
            }
          }
        }

        img {
          margin: 20px 0;
        }

        p, span {
          font-size: 1rem;
          color: #7a7a7a;
        }

        h2 {
          font-size: 2rem !important;
          text-transform: inherit;
          font-weight: 600 !important;
          color: $corPrimaria;
          margin-bottom: 10px;

          span {
            font-size: 2rem !important;
            text-transform: inherit;
            font-weight: 600 !important;
            color: $corPrimaria;
          }
        }

        h3 {
          font-size: 1.3rem !important;
          font-weight: 600 !important;
          color: $corPrimaria;

          span {
            font-size: 1.3rem !important;
            font-weight: 600 !important;
            color: $corPrimaria;
          }
        }
      }

      .author-data {
        border: 1px solid #eee;
        padding: 20px 15px 10px 15px;
        margin-top: 20px;

        .author-avatar {
          img {
            width: auto;
            border-radius: 50%;
          }
        }

        .author-info {
          .author-name {
            font-size: 1.1rem;
            margin-bottom: 5px;
            font-weight: 600;
            color: $corPrimaria;

          }

          .author-description {
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: #7d7d7d;
          }
        }
      }

      .container {
        .row {
          .col-md-4 {
            .card {
              border: none;
              -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
              box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
              transition: $transicaoPadrao;
              border-radius: 3px;
              overflow: hidden;

              &:hover {
                webkit-box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%) !important;
                box-shadow: 0 0 30px 0 rgb(0 0 0 / 15%) !important;
              }

              figure {
                a {
                  img {
                    height: 170px;
                    object-fit: cover;
                  }
                }
              }

              .link-titulo-post {
                &:hover {
                  h2 {
                    color: $corPrimaria;
                  }
                }
              }

              .card-footer {
                font-size: 0.9rem;
                background: transparent;
                color: #adadad;
              }
            }
          }
        }
      }
    }

    a {
      color: $corPrimaria !important;
      transition: $transicaoPadrao;

      &:hover {
        color: $corSecundaria !important;

        span {
          color: $corSecundaria !important;
        }
      }

      span {
        color: $corPrimaria !important;
        transition: $transicaoPadrao;
      }
    }
  }
}

.truncate2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.truncate4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.truncate5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.truncate6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}


// NOVOS

.p-190 {
  padding: 190px 0;
}

.p-90 {
  padding: 90px 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-210 {
  margin-top: 210px;
}

.my-130 {
  margin: 130px 0;
}

ul {
  &.pagination {
    li {
      &.page-item {
        .page-link {
          color: $corPrimaria;
          background-color: transparent;
          border-color: transparent;
          font-weight: 600;
          font-size: 1rem;

          &:hover {
            color: $corSecundaria;
          }

          &:focus {
            box-shadow: none !important;
          }

          &.active {
            .page-link {
              border-color: transparent;
              color: $corSecundaria;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

:focus, button:focus, input:focus, textarea:focus, a:focus, select:focus {
  outline: none !important;
}

.hr-tracejado {
  border-top: 1px dashed #3d3d3d;
  margin: 50px 0;
}

.text-md-left.texto-localidade p {
  max-width: 650px !important;
}

.btn.btn-primario.dark-hover.bg-hover:hover {
  background: $corSecundaria !important;
  color: $corBranca !important;
  border-color: transparent !important;
}

section #slide-bootstrap .carousel-indicators li {
  height: 10px;
  width: 10px;
  background-color: $corSecundaria;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 55px;
  color: $corSecundaria;
}

.carousel-control-prev-icon:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 55px;
  color: $corSecundaria;
}

input.wpcf7-form-control {
  font-size: 14px;
  border: solid 1px #999;
  border-radius: 0;
  padding: 10px 13px;
  color: #414042;
  font-weight: 300;
  margin-bottom: 12px;
  width: 100%;
}

textarea {
  font-size: 14px;
  border: solid 1px #999;
  border-radius: 0;
  padding: 5px 13px;
  color: #414042;
  font-weight: 300;
  margin-bottom: 8px;
  width: 100%;
}

.acf-map {
  width: 100% !important;
  height: 400px !important;
  border: #ccc solid 1px !important;
  margin: 20px 0 !important;
}

// Fixes potential theme css conflict.
.acf-map img {
  max-width: inherit !important;
}

::-webkit-input-placeholder { /* Edge */
  color: #aaaaaa !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaaaaa !important;
}

::placeholder {
  color: #aaaaaa !important;
}

.form-control:focus {
  box-shadow: 5px 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
  border-radius: 30px;
  overflow: hidden;

  .btn.form {
    background: #0e94d8;
    border-radius: 50px;
    font-size: 28px;
    transition: $transicaoPadrao;
    color: #ffffff;

    &:hover {
      background-color: $corSecundaria;
    }
  }
}

.modal {
  z-index: 99999999999;
}

@import '../sass/media-queries';