#parceiros {
  padding: 50px 0;

  .container {
    .row {
      h2{
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: .175em;
        text-transform: uppercase;
      }
      img {
        width: auto;
        max-width: 200px;
        margin: 0 50px;
      }
    }
  }
}