#navbarWapper {
  height: 96px;

  #navbarMenu {
    transition: all .1s ease;
    background-color: $cinzaClaro;
    height: 96px;
    z-index: 99999;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 22%);

    .container {
      margin-left: auto;
      margin-right: auto;

      .navbar-brand {
        img {
          object-fit: contain;
          width: auto;
        }
      }

      .tel-contato {
        font-size: 17px;
        font-weight: 700;
        line-height: 2em;
        margin-left: 33px;

        svg {
          color: $corPrimaria;
        }

        a {
          text-decoration: none;
          color: $corPrimaria;
        }

        span {
          font-size: 9px;
          color: $corPrimaria;
          line-height: 1;
          font-weight: $bold;
        }
      }

      @media (min-width: 999px) {
        max-width: 1235px;
      }
    }


    ul {
      li {
        .dropdown-menu {
          border: none;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .nav-link {
          font-family: $fontePadrao;
          font-weight: $bold;
          transition: all .2s ease-in-out;
          font-size: 12px;
          color: rgba(0, 0, 0, .5);
          padding: 7px 17px;
          border-radius: 20px;

          &:hover {
            color: $corSecundaria !important;
          }

          &.active {
            color: $corPrimaria !important;
          }
        }
      }

      li.active > a,
      li.current-menu-item a {
        color: $corSecundaria !important;
        font-weight: 700;
      }

      li.show {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      }
    }

    &.fixed-top {
      position: fixed !important;
    }

    &.menu_sticky {
      height: 60px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);

      .btn-primario {
        background: $corSecundaria;

        &:hover {
          background: transparent;
        }
      }

      .btn-secundario {
        &:hover {
          background: $corSecundaria;
        }
      }

      .tel-contato {
        top: -5px;
        position: relative;

        svg {
          display: none;
        }
      }
    }

    #navbarNav {
      .nav {
        .dropdown {

          .dropdown-menu {
            position: absolute;
            top: 80%;
            left: 0;
            z-index: 99999;
            visibility: hidden;
            opacity: 0;
            filter: alpha(opacity=0);
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
            -webkit-transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
            transition: all 0.5s cubic-bezier(0.84, 0.35, 0.39, 0.74);
            display: block;
            background: $corBranca;
            padding: 0;

            li {
              margin: 0 !important;
              padding: 0;
              border-bottom: 1px solid #ececec;

              &:last-child {
                border: none;
              }

              a {
                padding: 8px 30px;
                border-radius: 3px;
                transition: all .3s ease;

                &:hover {
                  background-color: rgba(0, 0, 0, .1);
                }
              }
            }
          }

          &:hover {
            .dropdown-menu {
              top: 150%;
              visibility: visible;
              opacity: 1;
              filter: alpha(opacity=100);
            }
          }
        }
      }
    }

  }

}


.mobile-menu-wrapper {
  right: 0;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: scroll;
  min-height: 100%;
  z-index: 99999;
  padding: 30px 30px;
  box-sizing: border-box;
  width: 320px;
  background: $corPrimaria;
  overflow-y: auto;
  transform: translate3d(100%, 0, 0);
  transition: right 0.5s ease;
  padding-top: 70px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;

  &.open {
    right: 320px;
  }

  .contatos-mobile-wrapper {
    display: flex;
    flex-direction: column;

    .telefone {
      svg {
        color: $corPrimaria;
      }

      a {
        color: $corBranca;
        font-size: 14px;
      }
    }

    .email {
      svg {
        color: $corPrimaria;
      }

      a {
        color: $corBranca;
        font-size: 14px;
      }
    }
  }

  .btn-primario {
    background: $corSecundaria;
  }

  .mobile-menu {
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%;

      a {
        color: $corBranca;

        &:hover {
          background-color: rgba(255, 255, 255, .2);
        }
      }

      &.dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
            height: auto !important;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 0;
          }
        }
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.nav-toggler {
  border: 0;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  position: absolute;
  right: 1rem;
  top: 33px;
  z-index: 9999;
  display: block;

  span {
    width: 28px;
    height: 3px;
    background-color: $corPrimaria;
    display: block;
    transition: .3s;

    &:before {
      width: 28px;
      height: 3px;
      background-color: $corPrimaria;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(-9px);
    }

    &:after {
      width: 28px;
      height: 3px;
      background-color: $corPrimaria;
      display: block;
      transition: .3s;
      content: '';
      transform: translateY(6px);
    }
  }

  &.toggler-open {
    position: fixed;

    span {
      &:before {
        background: $corBranca;
      }
    }

    span {
      &:after {
        background: $corBranca;
      }
    }
  }

  &#navTogglerFixed {
    position: fixed;
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 99999999;

    &.toggler-open {
      opacity: 1 !important;
      transition: all .2s ease-in !important;
    }
  }
}

.nav-toggler.toggler-open {
  span {
    background-color: transparent;

    &:before {
      transform: translateY(0px) rotate(45deg);
    }

    &:after {
      transform: translateY(-3px) rotate(-45deg);
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  background-color: rgba(17, 17, 17, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 9601;
  }
}

